.spinner {
  animation: spinner 1.4s infinite linear;
  background: #d5d5d8;
  background: linear-gradient(to right, #d5d5d8 10%, rgba(255, 255, 255, 0) 42%);
  border-radius: 50%;
  height: 40px;
  position: relative;
  transform: translateZ(0);
  width: 40px;
}

.spinner:before {
  background: #d5d5d8;
  border-radius: 100% 0 0 0;
  content: '';
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.spinner:after {
  background: #fbfbfb;
  border-radius: 50%;
  bottom: 0;
  content: '';
  height: 75%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 75%;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
