/** 
 *  Get your API keys here
 *  https://developers.google.com/maps/documentation/javascript/get-api-key
 *  https://www.algolia.com/users/sign_up/places
 *
 *  It is highly recommended to use separate API keys for development and 
 *  production. You can secure your API keys by restricting your key to an 
 *  HTTP referer through the dashboard of the API provider.
 *
 *  Make sure to leave the double quotes! Build will fail otherwise.
 */

module.exports = {
  dev: {
    algolia: {
      key: '"KEY_HERE"',
      appID: '"APP_ID_HERE"'
    },
    google: '"KEY_HERE"'
  },
  prod: {
    algolia: {
      key: '"KEY_HERE"',
      appID: '"APP_ID_HERE"'
    },
    google: '"KEY_HERE"'
  }
}
