/** 
 *  Get your API key here
 *  https://developers.google.com/maps/documentation/javascript/get-api-key
 *
 *  It is highly recommended to use separate API keys for development and 
 *  production. You can secure your API keys by restricting your key to an 
 *  HTTP referer through the Google API Console.
 *
 *  Make sure to leave the double quotes! Build will fail otherwise.
 */

module.exports = {
  dev: {
    google: '"KEY_HERE"'
  },
  prod: {
    google: '"KEY_HERE"'
  }
}
