@import 'scss/_vars.scss';
@import 'scss/_animations.scss';

::selection {
  background-color: #ddd;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, button {
  color: $accent;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;

  @media(max-width: 550px) {
    height: initial;
  }
}

body {
  background-color: $accentDark;

  @media(max-width: 550px) {
    background-color: #fbfbfb;
  }
}

a {
  border-bottom: 1px solid #bbb;
  color: #646471;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    border-color: #0e0f17;
    color: #0e0f17;
  }
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  border: 1px solid #bbb;
  border-radius: 2px;
  color: $accent;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

  &.error {
    border-color: #cc0000 !important;
  }

  &:focus,
  &:hover {
    outline: 0;
  }

  &:hover {
    border: 1px solid $accent;
  }

  &:focus {
    border: 1px solid $accent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

strong {
  font-weight: 500;
}

.button {
  align-items: center;
  background-color: #eaeaec;
  border: 0;
  border-radius: 2px;
  color: $accent;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  padding: 15px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #d5d5d8;
    color: #2c2d3e;

    svg {
      fill: #2c2d3e;
    }
  }

  svg {
    transition: 0.3s;
  }

  @media(max-width: 550px) {
    justify-content: flex-start;
  }
}